.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: #8a2b06;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.logoName{
    font-size: 1.5rem;
}

.logo{
    color: burlywood;
    text-transform: uppercase;
    /* padding: 0.5rem 1rem; */
    /* background: white; */
    /* border-radius: 60%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
}

.main-image {
    width: 100%;
    height: 25rem;
    z-index: 0;
    overflow: hidden;
}

.main-image img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    transform: rotateZ(-3deg)  translateX(-1rem);
}

.linksStyling {
    display: flex;
    gap: 1rem;
    align-items: center;

}
.link {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
}

.link:hover {
    color: burlywood;
}


@media only screen and (min-width: 37.5em) {
    .link {
            
            font-size: 1.2rem;
            
        }
}

@media only screen and (min-width: 56.25em) {
    .header {
            
            padding: 0 10%;
            
        }

                .logoName {
                    font-size: 2rem;
                }

                .linksStyling {
                    
                    gap: 2rem;
        
                }
        
                .link {
                    
                    font-size: 1.5rem;
                    font-weight: 200;
                }

                                .link:hover {
                                    color: burlywood;
                                }
    
}